main {
  max-width: 100%;
  width: 75em;
  margin: auto;
  height: fit-content;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr;
  column-gap: 10px;
}

#sidebar {
  position: sticky;
  height: fit-content;
}

#sidebar #side-top {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-bottom: 1px #d9d9d9ff solid;
}

#sidebar #side-top h1 {
  color: #353535ff;
  margin: 0px;
}

#sidebar #side-top button {
  border: none;
  padding: 8px;
  transition: all 500ms;
  height: 2em;
  margin-left: 10px;
  border-radius: 0.5em;
}

#sidebar #side-top button[data-hidden="true"] {
  background-color: #3c6e71ff;
}

#sidebar #side-top button[data-hidden="true"]::before {
  color: #ffffffff;
  content: "Show";
}

#sidebar #side-top button[data-hidden="false"] {
  background-color: #d9d9d9ff;
}

#sidebar #side-top button[data-hidden="false"]::before {
  color: #353535ff;
  content: "Hide";
}

#sidebar ul {
  padding-left: 10px;
}

#sidebar ul * {
  color: #284b63ff;
  list-style: none;
  cursor: pointer;
}

#sidebar ul *:hover {
  text-decoration: solid 2px #284b63ff !important;
}

#sidebar ul *.h1 {
  margin: 0px;
}

#sidebar ul *.h2 {
  margin: 0px 0px 0px 10px;
}

#sidebar ul *.h3 {
  margin: 0px 0px 0px 20px;
}

article h1 {
  margin: 0px;
}

article h1, article h2, article h3, article h4, article h5, article h6 {
  color: #353535ff;
}

article h1#main-title {
  border-bottom: 1px solid #d9d9d9ff;
  font-size: 2em;
}

#stub {
  border: 2px #3c6e71ff solid;
  border-radius: 1rem;
  margin: 30px 0px;
  padding: 0px 15px;
}

#stub > h2:first-child {
  color: #3c6e71ff;
}
