body {
  margin: 0px;
  padding: 0px;
  background-color: #fefae0ff;
  color: #283618ff;
  background-color: palegreen;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  /*background-image: url("/public/navagation_background.jpg");*/
  background-repeat: no-repeat;
  width: 100vw;
  height: 20em;
}

nav #web-card {
  border-radius: 1rem;
  height: fit-content;
  padding: 10px;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

nav #web-card > h1 {
  width: 100%;
  text-align: center;
  font-size: 3em;
  margin: 0px;
  color: #dda15eff;
  margin-bottom: 20px;
}

nav #web-card > input[type=text] {
  border-radius: 0.5rem;
  padding: 10px;
  border: none;
  text-align: center;
  color: #bc6c25ff;
  background-color: #dda15eff;
  font-weight: bold;
}

nav #web-card > input[type=text]::placeholder, nav #web-card > input[type=text]::-ms-input-placeholder {
  color: #fefae0ff;
}

article {
  margin: auto;
  width: 50em;
  height: fit-content;
}

article > #main-title {
  font-size: 3em;
  margin: 0px;
  transform: translateY(-50%);
  color: #606c38ff;
  text-decoration: underline 5px #606c38ff;
}
