main {
  max-width: 100%;
  width: 75em;
  margin: auto;
  height: fit-content;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr;
  column-gap: 10px;
}

#sidebar {
  position: sticky;
  height: fit-content;
}

#sidebar #side-top {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-bottom: 1px #d9d9d9ff solid;
}
