body {
  font-family: 'Poppins', sans-serif;
  background-color: white;
  margin: 0px;
  padding: 0px;
  min-height: 100vh;
  height: fit-content;
}

nav {
  padding: 10px;
  display: flex;
  flex-direction: row;
  height: 45px;
  width: 90%;
  margin: auto;
  margin-bottom: 45px;
}

nav h1 {
  width: 65%;
  height: 100%;
  margin: 0px;
  margin-left: 10px;
  line-height: 45px;
  color: #284b63ff;
}

nav .container {
  width: 35%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

nav .container > * {
  width: fit-content;
  background-color: #ffffffff;
  color: #3c6e71ff;
  text-decoration: none;
  font-weight: bold;
  padding: 5px;
}

nav .container > * > i {
  display: inline-block;
}

nav .container > *::after:hover {
  border: #3c6e71ff 5px solid;
  padding: 0px;
}

nav .container > .selected {
  background-color: #3c6e71ff;
  color: #ffffffff;
}

footer {
  background-color: #353535ff;
  height: fit-content;
  width: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-top: 15px;
  position: absolute;
}

footer h2 {
  color: #d9d9d9ff;
  margin-left: 15px;
  margin-bottom: 20px;
}

footer .midpoint {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  max-width: 100%;
  width: 50em;
}

footer .midpoint > ul > h3 {
  color: #d9d9d9ff;
}

footer .midpoint > ul > li {
  color: #ffffffff;
  text-decoration: none;
  list-style: none;
}

footer .midpoint > ul > li > a {
  text-decoration: none;
  color: inherit;
}

footer > :last-child {
  color: #ffffffff;
  margin: 15px;
}

[data-hidden="0"] {
  display: none;
}
