$jet: #353535ff;
$caribbean-current: #3c6e71ff;
$white: #ffffffff;
$platinum: #d9d9d9ff;
$indigo-dye: #284b63ff;

main {
  max-width: 100%;
  width: 75em;
  margin: auto;
  height: fit-content;

  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr;
  column-gap: 10px;
}

#sidebar {
  position: sticky;
  height: fit-content;

  #side-top {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 1px $platinum solid;

    h1 {
      color: $jet;
      margin: 0px;
      
    }

    button {
      border: none;
      padding: 8px;
      transition: all 500ms;
      height: 2em;
      margin-left: 10px;
      border-radius: 0.5em;

      &[data-hidden="true"] {
        background-color: $caribbean-current;
        
        &::before {
          color: $white;
          content: "Show";
        }
      }

      &[data-hidden="false"] {
        background-color: $platinum;

        &::before {
          color: $jet;
          content: "Hide";
        }
      }
    }
  }

  ul {
    padding-left: 10px;
    * {
      color: $indigo-dye;
      list-style: none;
      cursor: pointer;
      

      &:hover {
        text-decoration: solid 2px $indigo-dye !important;
      }

      &.h1 {
        margin: 0px;
      }

      &.h2 {
        margin: 0px 0px 0px 10px;
      }
      
      &.h3 {
        margin: 0px 0px 0px 20px;
      }
    }
  }
}

article {
  h1 {
    margin: 0px;
  }

  h1, h2, h3, h4, h5, h6 {
    color: $jet;
  }

  h1#main-title {
    border-bottom: 1px solid $platinum;
    font-size: 2em;
  }
}

#stub {
  border: 2px $caribbean-current solid;
  border-radius: 1rem;
  margin: 30px 0px;
  padding: 0px 15px;

  & > h2:first-child {
    color: $caribbean-current;
  }
}