$jet: #353535ff;
$caribbean-current: #3c6e71ff;
$white: #ffffffff;
$platinum: #d9d9d9ff;
$indigo-dye: #284b63ff;

main {
  width: 50em;
  margin: auto;
  height: fit-content;
}

#hero {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 40px;
  row-gap: 0px;
  align-items: center;
  justify-items: center;

  width: 100%;
  height: fit-content;
}

#buttons {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-top: 15px;
}