$jet: #353535ff;
$caribbean-current: #3c6e71ff;
$white: #ffffffff;
$platinum: #d9d9d9ff;
$indigo-dye: #284b63ff;

main {
  width: 50em;
  margin: auto;
  height: fit-content;
}

#hero {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 40px;
  row-gap: 0px;
  align-items: center;
  justify-items: center;

  width: 100%;
  height: fit-content;

  & > :nth-child(1) {
    & > h1 {
      font-size: 3em;
      color: $jet;

      & > span:nth-of-type(1) {
        color: $platinum;
        transition: color cubic-bezier(0.075, 0.82, 0.165, 1) 500ms;

        &:hover {
          color: $indigo-dye;
        }
      }
    }
  }

  & > :nth-child(2) {
    width: 300px;
    height: 300px;
    aspect-ratio: 1;
    filter: invert(27%) sepia(22%) saturate(1190%) hue-rotate(161deg) brightness(87%) contrast(89%);
  }
}

#buttons {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-top: 15px;

  * {
    border-radius: 0.5rem;
    border: none;
    padding: 8px;
    font-weight: 700;
    margin-right: 10px;
  }

  button#random-page {
    background-color: $caribbean-current;
    color: $white;
    cursor: pointer;
  }

  input#searchbar {
    background-color: $platinum;
    color: $jet;
  }
}

#questions {
  & > :first-child {
    color: $jet;
    width: 100%;
    text-align: center;
  }

  & > details {
    padding-left: 10px;
    border-bottom: 1px solid $jet;

    margin-bottom: 15px;

    & > summary {
      font-size: 1.5em;
      font-weight: bold;
      margin: 10px 10px 10px 0px;
    }
  }
}